article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 90pt;
    a{
        color:$lightBlue;
    }
    #jonhBidenImg{
        width: 190pt;
    }
    .textTitle{
        color: white;
        background-color:$purple; 
        font-size: 1.5rem;  
        margin-top: 33pt;
        padding: 27pt 32pt 27pt 32pt;
    }
    .mainText{
        font-size: 1.2rem;
        margin-top: 33pt;
        padding: 0 40pt 0 40pt;
        text-align: justify;
        word-break: break-all;
    }
    @import "description";
    @import "recommendations";
}

